# Python/Django
*.pyc
__pycache__/
db.sqlite3
.env
.env.*
*.log
*.pot
*.py[cod]
.Python
instance/
.local
media/
staticfiles/
static/

# VSCode and PyCharm
.vscode/
.idea/

# macOS
.DS_Store

# React/Node
frontend/node_modules/
frontend/build/
frontend/.env

# Docker
*.pid
*.seed
*.bak
*.swp
docker-compose.override.yml

# System
*.~*
*.bak
*.swp
*~
